<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="POMDataParametrization" verbose="2">
    <classes>
      <class name="test.RunLogin"/>
      <class name="test.RunCreateLead"/> 
    </classes>
  </test> <!-- POMDataParametrization -->
</suite> <!-- Suite -->
